<ion-grid style="align-content: center;display: flex;width: 90%">
    <ion-col class="justify-content-around">
        <ion-item  lines="none">
            <ion-input  [(ngModel)]="password" (keydown.enter)="onChangePassword()" placeholder="رمز عبور فعلی"  type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-input  [(ngModel)]="changedPassword" (keydown.enter)="onChangePassword()" placeholder="رمز عبور جدید"
                       type="text"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-horizontal" lines="none">
            <ion-button  class="big-button" color="medium" (click)="onChangePassword()">
                ثبت
            </ion-button>
        </ion-item>
    </ion-col>
</ion-grid>


