app-login {

}

$white-color: #fff;
$height100: 100%;

ion-grid {
  width:100%;
  height: $height100;
  background: #dfdfdf;
}

ion-row {
  height: $height100;
}

ion-col {
  background: $white-color;
  border-radius: 10px;
}

.login-button {
  font-weight: 300;
  max-width: 100%;
  max-height: 50px;
  border-radius: 20px;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}
ion-input {
  font-size: 15px;
  line-height: 1.5;
  background: none;
}
ion-item{
  margin-bottom: 10px;
}

@media (min-width: 240px) and (max-width: 768px) {
  ion-grid {
    background: $white-color;
  }
  ion-col {
    border: none;
  }
}
