<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
      <div class="ion-text-center">
        <h4>ورود/ثبت نام</h4>
      </div>
      <div class="ion-padding">
        <ion-item>
          <ion-input [(ngModel)]="userPass.name" type="text" placeholder="نام کاربری"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="userPass.password" type="password" placeholder="رمز عبور"></ion-input>
        </ion-item>
      </div>

      <div class="ion-padding">
        <ion-button size="large" (click)="login()" expand="block">ورود</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

