<ion-card >
    <ion-card-header>{{header}} </ion-card-header>
    <ion-card-content>
        <ion-row class="ion-justify-content-center" fxLayoutGap="20px">
            <ion-col *ngFor="let file of files" >
                <ion-card style="width: 220px">
                    <ion-card-subtitle>
                        {{file.name}}
                    </ion-card-subtitle>
                    <ion-card-content>
                        <ion-row>
                            <ion-button (click)="getFile(file.uniqueName)">
                                <ion-icon name="analytics" lazy="true"></ion-icon>
                            </ion-button>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>
