<ion-toolbar>
    <ion-title>{{currentLesson?.name}}</ion-title>
</ion-toolbar>

<ion-content>

    <ion-list class="ion-list-margin" lines="none">
        <ion-item *ngFor="let session of sessions|async" (click)="goToSession(session.id)" class="ion-item-margin">
          <ion-avatar slot="start">
            <img src="../../../assets/icon/favicon.png"  alt=""/>
          </ion-avatar>
            <ion-label>
              <h2>{{session.topic}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab (click)="addNewSession()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
