
<ion-content fullscreen>
    <ion-list class="list" lines="none">
        <ion-list-header slot="center">
           لیست درس ها
        </ion-list-header>

        <ion-item *ngFor="let lesson of lessonList" (click)="goToLesson(lesson.id)" class="list-items" >
            <ion-avatar slot="start">
                <img src="../../assets/icon/favicon.png"  alt=""/></ion-avatar>
            <ion-label>
                <h2>{{lesson.name}}</h2>
                <h3>{{lesson.teacher_info}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
