<ion-card>

    <ion-card-content style="padding: 10px">
        <ion-item lines="none" >
            <ion-title>گروه ها:</ion-title>
        </ion-item>
        <div style="max-height: 400px;overflow-y: scroll;direction: ltr">
            <ion-virtual-scroll [items]="teamsList">
                <ion-card *virtualItem="let team" class="team-card">
                    <ion-card-subtitle>
                        <ion-row fxLayoutAlign=" center">
                            <ion-col  class="ion-align-items-start">
                                <ion-row>
                                    <ion-text class="team-name" (click)="goToGroupPage(team.id)"
                                              >{{team.name}}</ion-text>
                                </ion-row>
                            </ion-col>
                            <ion-col  >
                                <ion-row class="ion-justify-content-end">
                                    <ion-button (click)="onEditTeam(team)" fill="clear">
                                        <ion-icon  color="dark" name="create-outline" lazy="true"
                                                  slot="icon-only"></ion-icon>
                                    </ion-button>

                                    <ion-button (click)="onShowDeleteTeamByIdAlert(team)" fill="clear">
                                        <ion-icon color="primary" name="trash" lazy="true" slot="icon-only"></ion-icon>
                                    </ion-button>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-card-subtitle>
                    <ion-card-content style="display: flex; justify-content: center;bottom:5px">
                        <ion-text>{{team.members}}</ion-text>
                    </ion-card-content>
                </ion-card>
            </ion-virtual-scroll>
        </div>


        <ion-item class="new-team" lines="none">
            <ion-col>
                <ion-row fxLayoutAlign="center center">
                    <ion-input [(ngModel)]="newTeam.name" (keydown.enter)="onSaveNewTeam()"
                               placeholder="نام گروه"></ion-input>
                    <ion-input [(ngModel)]="newTeam.members" (keydown.enter)="onSaveNewTeam()"
                               placeholder="اعضای گروه"></ion-input>
                    <ion-button class="small-button" color="primary" (click)="onSaveNewTeam()">افزودن</ion-button>
                </ion-row>

            </ion-col>
        </ion-item>
    </ion-card-content>

</ion-card>


<ion-grid  ngClass.lg="buttons">
    <ion-row fxLayoutGap.lt-sm="10px" fxLayoutGap="20px"  >
        <ion-col size="5.5" >
            <app-single-file-uploader style="width: 100%"  (selectedFile)="onCumulativeRegistration($event)"
                                      [textButton]="'ثبت تجمیعی گروها'"></app-single-file-uploader>

        </ion-col>
        <ion-col  size="5.5">
            <ion-button style="width: 100%"  color="medium" (click)="onShowDeleteAllTeamsAlert()"> حذف همه ی گروه ها
            </ion-button>
        </ion-col>

    </ion-row>
</ion-grid>
